body {
    margin: 0;
    box-sizing: border-box;
    background: #222;
    overflow-y: hidden;
  }
  
  h1 {
    text-align: center;
    color: white;
    font-family:'Times New Roman', Times, serif;
    text-transform:initial;
    letter-spacing: 8px;
    padding: 20px ;
  }
  
  
  
  .next-btn, .prev-btn {
    background-color:aliceblue;
    border-radius: 18px;
    padding: 16px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    z-index: 100;
    cursor: pointer;
    transition: 400ms;
    font-weight: bolder;
  }
  
  .next-btn:hover, .prev-btn:hover {
    background-color:antiquewhite;
  }
  
  .prev-btn {
    left: 0;
  }
  
  .next-btn {
    right: 0;
  }
  
  /* Navigation Dots */
  
  .navigation-dots {
    display: flex;
    height: 32px;
    align-items: center;
    justify-content: center;
    margin: 16px 0;
    transform: translateY(-50%);
    z-index: 50;
  }
  
  .single-dot {
    background: coral;
    height: 16px;
    width: 16px;
    border: 2px solid #000;
    border-radius: 50%;
    margin: 0 8px;
    cursor: pointer;
    transition: 400ms;
  }
  
  .single-dot.active {
    background: white;
  }
  
  /* On smaller screens */
@media screen and (max-width: 1300px) {
   .h1
     {font-size: 11px; }
     .next-btn, .prev-btn{
       transition: 350ms;
     }
     .slide-container{
         height: auto;
         width:auto;
        
     }
     .slide-image img {
      width: 100%;
      height: 100%;
      object-fit:fill;
    }
     .single-dot{
     height: 27px;
  
  }
}
@media screen and (max-width: 800 px){
 .single-dot{
   height:auto;
   transition: 500ms;
 }
 /* .slide-image img {
  width: 75vw;
  height: 80vh;
  object-fit:fill;
} */
}
@media screen and (max-width: 400 px){
  .slide-image img {
    width: 100%;
    height: 100%;
    object-fit:fill;
  }
}